@import "../compass/compass";
@import "mixins";

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: auto; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html body {
  font-family: "Open Sans", sans-serif;
}

#main-navigation {
  margin-bottom: 0;
  @include box-shadow(0 -8px 5px -5px rgba(#000, 0.3) inset);
  .navbar-brand {
    height: 110px;
  }
  .navbar-nav {
    margin-top: 30px;
    li {
      a {
        font-size: 20px;
      }
    }
  }
}

.btn, .btn-group {
  &.submit {
    margin: 10px;
    text-transform: uppercase;
    font-weight: 800;
    @include box-shadow(0 0 0 10px rgba(#000, 0.2));
  }
}
.btn-group.submit {
  @include border-radius(6px);
  .btn {
    font-weight: 800;
  }
}

#top-carousel {
  background: url("../img/red-abstract-background.jpg") repeat center center red;
  background-size: 100% auto;
  height: 500px;
  .carousel-control {
    width: 60px;
  }
  .item {
    .item-inner {
      height: 500px;
      @include flexbox();
      @include align-items(center);
      .item-image {
        padding-left: 20px;
        @include flex(1 0 30%);
        img {
          max-width: 100%;
        }
      }
      .item-text {
        @include flex(1 0 70%);
        color: #FFF;
        h1 {
          font-size: 40px;
          font-weight: 800;
          text-transform: uppercase;
          text-shadow: 0 -3px 0 rgba(#000, 0.3);
        }
        p {
          margin: 20px 0;
        }
      }
    }
  }
}

.header-block {
  background: #333;
  @include box-shadow(0 0 0 20px rgba(#000, 0.3));
  position: relative;
  z-index: 1;
  .header-block-inner {
    margin: 50px auto;
    text-align: center;
    max-width: 70%;
    h1 {
      font-weight: 700;
      font-size: 40px;
      text-transform: uppercase;
      text-shadow: -3px -3px 0 rgba(#000, 0.3);
      color: #FFF;
    }
    p {
      font-size: 16px;
      margin: 20px 0;
      color: #DBDBDB;
    }
  }
}

#malls {
  position: relative;
  .malls-switch {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    .btn.active {
//      color: $accent-color-red;
    }
  }
  .tab-pane {
    padding: 150px 0 50px;
    background: no-repeat center center #E0E0E0;
    background-size: 100% auto;
    &#city-minsk {
      background-image: url('../img/mall-minsk-bg.jpg');
    }
  }
  .malls-inner {
    @include flexbox();
    @include justify-content(center);
    @include flex-wrap(wrap);
    .mall {
      @include flex(0 0 auto);
      display: block;
      margin: 20px;
      padding: 20px;
      background: no-repeat center 10% rgba($accent-color-red, 0.9);
      background-size: 70% auto;
      @include box-shadow(0 0 0 10px rgba(#FFF, 0.3), 0 0 0 1px rgba(#FFF, 0.2) inset);
      width: 200px;
      height: 200px;
      color: #FFF;
      position: relative;
      .info {
        position: absolute;
        bottom: 10%;
        width: 80%;
        left: 10%;
        font-weight: 600;
        text-shadow: -2px -2px 0 rgba(#000, 0.2);
        .label {
          margin: 10px 0;
          font-size: 20px;
          display: inline-block;
        }
      }
      &.mall-status-soon {
        background-color: rgba(#989898, 0.9) !important;
        .info {
          color: #E8E8E8 !important;
        }
      }
      &.mall-status-disabled {
        background-color: rgba(#F2F2F2, 0.9) !important;
        .info {
          .label {
            font-size: 16px !important;
          }
          text-shadow: none !important;
          color: #989898 !important;
        }
      }
      &:hover {
        @include box-shadow(0 0 0 10px rgba(#FFF, 0.5), 0 0 0 1px rgba(#FFF, 0.2) inset);
      }
    }
  }
  #city-minsk {
    .mall {
      &.mall-nemiga_3 {
        background-color: rgba($accent-color-black, 0.9);
        .info {
          color: $accent-color-red;
        }
      }
      &.mall-ekspobel {
        background-color: rgba($accent-color-yellow, 0.9);
        .info {
          color: $accent-color-middleBlack;
        }
      }
      &.mall-stolica {
        background-color: rgba($accent-color-green, 0.9);
        .info {
          color: $accent-color-white;
        }
      }
      &.mall-skala {
        .info {
          color: $accent-color-black;
          text-shadow: -2px -2px 0 rgba(#FFF, 0.2);
        }
      }
      &.mall-novaya_evropa, &.mall-evropa {
        background-color: rgba($accent-color-darkBlue, 0.9);
      }
      &.mall-arena {
        background-color: rgba($accent-color-white, 0.9);
        .info {
          color: $accent-color-red;
        }
      }
      &.mall-galileo {
        background-color: rgba($accent-color-orange, 0.9);
      }
      &.mall-grad {
        background-color: rgba($accent-color-pink, 0.9);
      }
      &.mall-modniy_moll {
        background-color: rgba($accent-color-lightPink, 0.9);
      }
    }
  }
}

#map {
  height: 500px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  @include box-shadow(0 0 0 20px rgba(#000, 0.7));
}

#to-owners {
  padding: 50px 0;
  background: url("../img/green-abstract-background.jpg") repeat center center #C4EAB9;
  background-size: 100% auto;
  .owners-block {
    @include flexbox();
    .image {
      @include flex(1 0 30%);
      text-align: center;
      img {
        display: inline-block;
        max-width: 80%;
      }
    }
    .info {
      @include flex(1 0 70%);
      padding-left: 100px;
      h1 {
        font-weight: 800;
        color: #FFF;
        text-transform: uppercase;
        text-shadow: -3px -3px 0 rgba(#000, 0.1);
      }
      p {
        color: rgba(#FFF, 0.8);
      }
      .phone {
        font-size: 25px;
        margin-bottom: 10px;
        color: #FFF;
        text-shadow: -2px -2px 0 rgba(#000, 0.1);
        a, a:hover {
          color: #8BBFE8;
        }
      }
    }
  }
}

#feedback {
  padding: 50px 0;
  background: url("../img/blue-gradient.jpg") repeat center center #2C97DD;
  background-size: 100% auto;
  @include box-shadow(0 -20px 0 rgba(#000, 0.4));
  .feedback-inner {
    @include flexbox();
    .submit-form {
      @include flex(1 0 70%);
      padding-right: 100px;
      h1 {
        font-weight: 800;
        color: #FFF;
        text-transform: uppercase;
        text-shadow: -3px -3px 0 rgba(#000, 0.1);
      }
      p {
        color: rgba(#FFF, 0.8);
      }
      form {
        margin-top: 20px;
        .form-group {
          padding: 0 5px;
        }
        .form-group-submit {
          padding: 0;
        }
        input, textarea {
          @include border-radius(0);
          border: none;
          @include box-shadow(0 0 0 5px rgba(#000, 0.1));
        }
        textarea {
          resize: none;
        }
      }
    }
    .image {
      @include flex(1 0 30%);
      text-align: center;
      img {
        display: inline-block;
        max-width: 80%;
      }
    }
  }
}

#footer {
  padding: 20px 0 50px;
  background: #000;
  .footer-inner {
    .menu-top {
      padding: 0 0 10px;
      margin: 0;
      border-bottom: 1px solid #242424;
      li {
        display: inline-block;
        a {
          display: block;
          font-size: 16px;
          font-weight: 600;
          color: #FFF;
          padding: 10px 15px;
        }
      }
    }
    .menu-bottom {
      margin: 20px 0;
      @include flexbox();
      .links {
        @include flex(1 0 60%);
        @include flexbox();
        @include align-items(stretch);
        @include justify-content(flex-start);
        ul {
          padding: 0 15px;
          margin: 0;
          li {
            display: block;
            a {
              color: #BFBFBF;
            }
            &.head {
              font-weight: 600;
              color: #C12727;
              text-transform: uppercase;
              margin-bottom: 5px;
            }
            &.subscribe {
              width: 200px;
              p {
                color: #BFBFBF;
              }
              form {
                input {
                  @include box-shadow(none);
                  border-color: #5BC0DE;
                }
                button {
                  font-weight: 800;
                }
              }
            }
          }
        }
        ul + ul {
          margin-left: 15px;
          padding-left: 30px;
          border-left: 1px solid #242424;
        }
      }
      .info {
        @include flex(1 0 40%);
        color: #FFF;
        .sharing {
          margin: 0 0 10px;
          padding: 0 0 10px;
          border-bottom: 1px solid #242424;
          li {
            display: inline-block;
            a {
              display: block;
              text-align: center;
              height: 30px;
              width: 30px;
              line-height: 30px;
              color: #000;
              background: #FFF;
              font-weight: 900;
              @include border-radius(100%);
              text-decoration: none;
              &:hover {
                background: #E5E5E5;
              }
              &.fb, &.tw, &.vk {
                text-shadow: -2px -2px 0 rgba(#000, 0.2);
                color: #FFF;
              }
              &.fb {
                background: #405C97;
                &:hover {
                  background: #5A76B2;
                }
              }
              &.tw {
                background: #55ACEE;
                &:hover {
                  background: #8BBCE0;
                }
              }
              &.vk {
                background: #57799D;
                &:hover {
                  background: #7490AF;
                }
              }
            }
            & + li {
              margin-left: 5px;
            }
          }
        }
        .site {
          margin-bottom: 10px;
        }
        .copy {
          margin-top: 20px;
          color: #CECECE;
        }
      }
    }
  }
}