$accent-color-black: #000;
$accent-color-white: #FFF;
$accent-color-red: #D13E3E;
$accent-color-yellow: #FDD706;
$accent-color-green: #51AC11;
$accent-color-middleBlack: #333;
$accent-color-darkBlue: #3B28A4;
$accent-color-dark: #231F20;
$accent-color-orange: #EA7C0D;
$accent-color-pink: #FE2243;
$accent-color-lightPink: #CD6F6D;